<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Team Equalizer{% endblock %}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <main>
    {% if user.is_authenticated %}
    <div class="nav-bar">
      <a href="{% url 'vote_new' %}" class="top-menu">
        <span class="glyphicon glyphicon-plus">Cast new vote</span>
      </a>
      <a href="{% url 'logout' %}" class="top-menu">
        <span class="glyphicon glyphicon-off">logout</span>
      </a>
      <a href="{% url 'vote_list' %}" class="top-menu">
        <span class="glyphicon glyphicon-th-list">View your votes</span>
      </a>
      <a href="{% url 'roster_selection' %}", class="top-menu">
        <span class="glyphicon glyphicon-stats">Roster selection</span>
      </a>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>