{% extends 'base.html' %}

{% block title %}Equalizer | Player Selection{% endblock %}

{% block heading %}Player Selection{% endblock %}

{% block content %}

<div class="player_selection">
    <form method="POST" class="post-form players", enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Balance</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}