{% extends 'base.html' %}

{% block title %}Equalizer | Your Votes{% endblock %}

{% block content %}

<h1>Your Votes</h1>

{% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h2>
            <a href="{% url 'vote_detail' pk=post.pk %}">{{ post.player }}</a>
        </h2>
        <div>
            <table>
                <tr>
                    <th>Metric</th>
                    <th>Your Vote</th>
                </tr>
                <tr>
                    <td>Attack</td>
                    <td>{{ post.attack }}</td>
                </tr>
                <tr>
                    <td>Defense</td>
                    <td>{{ post.defense }}</td>
                </tr>
                <tr>
                    <td>Possession</td>
                    <td>{{ post.possession }}</td>
                </tr>
                <tr>
                    <td>Stamina</td>
                    <td>{{ post.stamina }}</td>
                </tr>
                <tr>
                    <td>Mobility</td>
                    <td>{{ post.mobility }}</td>
                </tr>
            </table>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

{% endblock %}